.uno{
  background: #E2E2E2;
  height: 100px;
    
  display: flex;
  justify-content: center;
  align-items: center;
}


.stalin{

  background: #FFF0AC ;
  height: 100px;
    
  display: flex;
  justify-content: center;
  align-items: center;

}


.jaho{

  background: #D1EAFF;
  height: 300px;
    
  display: flex;
  justify-content: center;
  align-items: center;

}

joa{
  
  background: #D1EAFF;
  height: 100px;
    
  display: flex;
  justify-content: center;
  align-items: center;


]